@{
    Layout = "_ErrorLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/style.css" />

</head>

<body>

    <img class="img-error" src="~/lib/assets/images/samples/error-404.svg" alt="Not Found">
    <h1 class="error-title">NOT FOUND</h1>
    <p class='fs-5 text-gray-600'>The page you are looking not found.</p>
    <a href="/Home/Index" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>

</body>

<script>
    let timer = 5
    setInterval(() => {
        document.getElementById('countdown').innerHTML = timer;
        timer--;

        if (timer === 0) {
            location.href = "/";
        }
    }, 1000)
</script>
</html>
