
@{
    ViewData["Title"] = "Change Password";
}

<div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
            <div class="card-header text-center pt-4">
                <h5>Last step before you done!</h5>
            </div>
            <div class="card-body">
                <form role="form">
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="New Password" aria-label="Password">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Password">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">Reset My Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>