@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}

<div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
            <div class="card-header text-center pt-4">
                <h5>Enter your email that registered to, we will send you OTP code</h5>
            </div>
            <div class="card-body">
                <form role="form">
                    <div class="mb-3">
                        <input type="email" id="emailOtp" class="form-control" placeholder="Email" aria-label="Email">
                    </div>
                    <div class="text-center">
                        <button type="button" id="sendOtp" class="btn bg-gradient-dark w-100 my-4 mb-2">Send OTP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>