@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/assets/css/main/app.css" />
    <link rel="stylesheet" href="~/lib/assets/css/main/app-dark.css" />
    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="~/lib/assets/images/Lp/favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="~/css/Lp.css">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&family=Quicksand:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.svg"
          type="image/x-icon" />
    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.png"
          type="image/png" />

    <style>
        .pointer {
            cursor: pointer;
        }

        .card-body{
            background-color:blue;
        }
    </style>
    <script>
        function a() {
            location.replace("https://localhost:7165/Home/Dashboard")
        }
    </script>

</head>

<body class="d-flex flex-column min-vh-100">
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header position-relative">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="/Home/Index">
                                <img src="https://www.metrodataacademy.id/static/media/logo_metrodata_academy.f40277dc.svg"
                                     alt="Logo" />
                            </a>
                        </div>
                        <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 aria-hidden="true"
                                 role="img"
                                 class="iconify iconify--system-uicons"
                                 width="20"
                                 height="20"
                                 preserveAspectRatio="xMidYMid meet"
                                 viewBox="0 0 21 21">
                                <g fill="none"
                                   fill-rule="evenodd"
                                   stroke="currentColor"
                                   stroke-linecap="round"
                                   stroke-linejoin="round">
                                    <path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                                          opacity=".3"></path>
                                    <g transform="translate(-210 -1)">
                                        <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                                        <circle cx="220.5" cy="11.5" r="4"></circle>
                                        <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                                    </g>
                                </g>
                            </svg>
                            <div class="form-check form-switch fs-6">
                                <input class="form-check-input me-0"
                                       type="checkbox"
                                       id="toggle-dark" />
                                <label class="form-check-label"></label>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 aria-hidden="true"
                                 role="img"
                                 class="iconify iconify--mdi"
                                 width="20"
                                 height="20"
                                 preserveAspectRatio="xMidYMid meet"
                                 viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"></path>
                            </svg>
                        </div>
                        <div class="sidebar-toggler x">
                            <a href="#" class="sidebar-hide d-xl-none d-block">
                                <i class="bi bi-x bi-middle"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-item">
                            <a href="/Home/Index" class="sidebar-link">
                                <i class="bi bi-house-fill"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-lock-fill"></i>
                                <span>HR</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <a href="/Admin/GetAllEmployee">Data Employee</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="/Admin/GetAllPayroll">Data Payroll</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="/Admin/ListAccountRole">Data Account Role</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="/Admin/ListDepartment">Data Department</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="/Admin/ListEmployeeLevel">Data Employee Level</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-person-video"></i>
                                <span>Manager</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <a href="/Manager/Index">Dashboard</a>
                                </li>

                                <li class="submenu-item">
                                    <a href="/Manager/ListOvertime">Overtime Request</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="/Manager/Profile">Profile</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="/Manager/Payslip">Payslip</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-people-fill"></i>
                                <span>Employee</span>
                            </a>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <a href="/Employee/Payslip">Payslip</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="/Employee/Request">Overtime</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="/Employee/Profile">Profile</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item mt-3">
                            <a href="/Home/Dashboard" class="sidebar-link">
                                <i class="bi bi-box-arrow-left " style="color:red;"></i>
                                <span style="color:red;">Logout</span>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>

        <div id="main" class="layout-navbar">
            <header class="mb-3">
                <nav class="navbar navbar-expand navbar-light navbar-top">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block">
                            <i class="bi bi-justify fs-3"></i>
                        </a>

                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        @*<div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-lg-0"></ul>
                        <div class="dropdown">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="user-menu d-flex">
                        <div class="user-name text-end me-3">
                        <h6 class="mb-0 text-gray-600">Darwin</h6>
                        <p class="mb-0 text-sm text-gray-600">Admin</p>
                        </div>
                        <div class="user-img d-flex align-items-center">
                        <div class="avatar avatar-md">
                        <img src="~/lib/assets/images/faces/6.jpg" />
                        </div>
                        </div>
                        </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuButton"
                        style="min-width: 11rem">
                        <li>
                        <h6 class="dropdown-header">Hello, Darwin!</h6>
                        </li>
                        <li>
                        <a class="dropdown-item" href="#">
                        <i class="icon-mid bi bi-person me-2"></i> My
                        Profile
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-item" href="#"><i class="icon-mid bi bi-gear me-2"></i> Settings</a>
                        </li>
                        <li>
                        <a class="dropdown-item" href="#"><i class="icon-mid bi bi-wallet me-2"></i> Wallet</a>
                        </li>
                        <li>
                        <hr class="dropdown-divider" />
                        </li>
                        <li>
                        <a class="dropdown-item" href="#">
                        <i class="icon-mid bi bi-box-arrow-left me-2"></i>
                        Logout
                        </a>
                        </li>
                        </ul>
                        </div>
                        </div>*@
                    </div>
                </nav>
            </header>


            <!--
              - Landing Page
            -->
            <!--
              - HERO
            -->

            <section class="hero" id="hero">
                <div class="container">

                    <div class="hero-content">
                        <br />
                        <h1 class="h1 hero-title">Overtime Request</h1>

                        <p class="hero-text">
                            This web will help you to request overtime schedule and you will get your payslip on your Paydate!!
                        </p>

                        @*<p class="form-text">
                        <span>🥳</span> Overtime Request is a project done by group 4 of metrodata coding camp 78.
                        </p>*@

                        @* <a href="/Home/Logins">
                        <button class="btn btn-outline">Login</button>
                        </a>*@

                    </div>

                    <figure class="hero-banner">
                        <img src="~/lib/assets/images/Lp/hero-banner.png" alt="Hero image">
                    </figure>

                </div>
            </section>



            <!--
                      - ABOUT
                    -->

            <section class="about">
                <div class="container">

                    <div class="about-content">

                        <div class="about-icon">
                            <ion-icon name="cube"></ion-icon>
                        </div>

                        <h2 class="h2 about-title">The Function</h2>

                        <p class="about-text">
                            This project serves to help and improve work efficiency. Here are the features that can be used.
                        </p>

                    </div>

                    <ul class="about-list">

                        <li>
                            <div class="about-card">

                                <div class="card-icon">
                                    <ion-icon name="trending-up"></ion-icon>
                                </div>

                                <h3 class="h3 card-title">Request Overtime and Payroll</h3>

                                <p class="card-text">
                                    You can make an overtime request here and see your monthly bonus.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="about-card">

                                <div class="card-icon">
                                    <ion-icon name="download"></ion-icon>
                                </div>

                                <h3 class="h3 card-title"> Get Payroll</h3>

                                <p class="card-text">
                                    In this application you can see your monthly payroll data.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="about-card">

                                <div class="card-icon">
                                    <ion-icon name="bar-chart"></ion-icon>

                                </div>

                                <h3 class="h3 card-title">Overtime Bar Chart</h3>

                                <p class="card-text">
                                    This feature is useful for showing bar charts or statistics from overtime.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="about-card">

                                <div class="card-icon">

                                    <ion-icon name="document-text"></ion-icon>

                                </div>

                                <h3 class="h3 card-title">Payroll Acsess</h3>

                                <p class="card-text">
                                    This feature is used to create and edit payroll data.
                                </p>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>



            <!--
              - BLOG
            -->

            <section class="p-5" id="blog">
                <div class="container">

                    <h2 class="h2 section-title">Our Developers</h2>

                    <p class="section-text">
                        Meet our developers, they are the people who have made this amazing app.
                    </p>

                    <div class="row g-4">
                        <div class="col-md-6 col-lg-3" >
                            <div class="card" style=" --majorelle-blue: hsl(245, 67%, 55%);box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);">
                                <div class="card-body text-center p-5 ">
                                    <img src="~/lib/assets/images/faces/2.jpg" class="rounded-circle" style="width:100%; height:100%" alt="" />
                                    <h4 class="card-title mb-3 py-4"> Darwin Manurung</h4>
                                    <div class="d-flex flex-row gap-3" style="justify-content:center;">
                                        <a href=""><i class="bi bi-github"></i></a>
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card" style=" --majorelle-blue: hsl(245, 67%, 55%);box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);">
                                <div class="card-body text-center p-5">
                                    <img src="~/lib/assets/images/faces/3.jpg" class="rounded-circle" style="width:100%; height:100%" alt="" />
                                    <h4 class="card-title mb-3 py-4"> Herni Hartati</h4>
                                    <div class="d-flex flex-row gap-3" style="justify-content:center;">
                                        <a href=""><i class="bi bi-github"></i></a>
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="card" style=" --majorelle-blue: hsl(245, 67%, 55%);box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);">
                                <div class="card-body text-center p-5">
                                    <img src="~/lib/assets/images/faces/2.jpg" class="rounded-circle" style="width:100%; height:100%" alt="" />
                                    <h4 class="card-title mb-3 py-4">Tony Aji Palguno</h4>
                                    <div class="d-flex flex-row gap-3" style="justify-content:center;">
                                        <a href=""><i class="bi bi-github"></i></a>
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="card" style=" --majorelle-blue: hsl(245, 67%, 55%);box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);">
                                <div class="card-body text-center p-5">
                                    <img src="~/lib/assets/images/faces/3.jpg" class="rounded-circle" style="width:100%; height:100%" alt="" />
                                    <h4 class="card-title mb-3 py-4"> Rona Salsabila</h4>
                                    <div class="d-flex flex-row gap-3" style="justify-content:center;">
                                        <a href=""><i class="bi bi-github"></i></a>
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>

        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">
                    &copy; 2022 <a href="">Project MCC By Kelompok 4</a>. All Right Reserved
                </p>
            </div>
        </div>

    </footer>
    </div>
    </div>
    <script src="~/lib/assets/js/bootstrap.js"></script>
    <script src="~/lib/assets/js/app.js"></script>
    <!--
      - custom js link
    -->
    <script src="~/js/script.js"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>