@{
    Layout = "_Layout";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="~/lib/assets/css/main/app.css" />
    <link rel="stylesheet" href="~/lib/assets/css/pages/auth.css" />
    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.svg"
          type="image/x-icon" />
    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.png"
          type="image/png" />
    <link rel="stylesheet" href="~/lib/assets/extensions/choices.js/public/assets/styles/choices.css">
    <!-- Include CSS file for Bootstrap Datepicker -->
    <!-- Include CSS file for Bootstrap Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Include necessary libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Additional scripts -->
    <script>
        $(document).ready(function () {
            $('#birthdate-input').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });

            $('#hiringdate-input').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
   
    <style>
        body,
        html {
            height: 100%;
        }

        body {
            background-color: #cfcfcf;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #auth {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .auth-card {
            min-width: 500px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffff;
        }

        .auth-logo {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .auth-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .auth-subtitle {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-control-icon {
            position: absolute;
            top: 50%;
            margin-left: 5px;
            transform: translateY(-55%);
            color: #ccc;
        }

        .form-group {
            position: relative;
        }

        .form-control {
            padding-left: 40px;
        }

        .btn-block {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="auth">
        <div class="auth-card">
            <div class="auth-logo">
                <a href="index.html">
                    <img src="https://www.metrodataacademy.id/static/media/logo_metrodata_academy.f40277dc.svg"
                         alt="Logo"
                         width="150px" />
                </a>
            </div>
            <h1 class="auth-title">Sign Up</h1>
            <p class="auth-subtitle mb-5">
                Input your data to register to our website.
            </p>
            
            <form action="index.html">
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <input type="text"
                           class="form-control form-control-md"
                           placeholder="Email" />
                </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                    <input type="text"
                           class="form-control form-control-md"
                           placeholder="Firstname" />
                </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                    <input type="text"
                           class="form-control form-control-md"
                           placeholder="Lastname" />
                </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-gender-male-female"></i>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="gender-male" value="Laki-Laki">
                        <label class="form-check-label" for="gender-male">
                            Laki-Laki
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="gender-female" value="Perempuan">
                        <label class="form-check-label" for="gender-female">
                            Perempuan
                        </label>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-calendar"></i>
                    </div>
                    <input type="text" class="form-control form-control-md" placeholder="Birthdate" id="birthdate-input">
                </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-calendar-check"></i>
                    </div>
                    <input type="text" class="form-control form-control-md" placeholder="Hiring Date" id="hiringdate-input">
                </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-telephone"></i>
                    </div>
                    <input type="text" class="form-control form-control-md" placeholder="Phone Number" />
                </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-person-badge"></i>
                    </div>
                    <input type="text" class="form-control form-control-md" placeholder="EmployeeLevel ID" />
                </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-building"></i>
                    </div>
                    <input type="text" class="form-control form-control-md" placeholder="Department ID" />
                </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                    <input type="password"
                           class="form-control form-control-md"
                           placeholder="Password" />
                </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                    <input type="password"
                           class="form-control form-control-md"
                           placeholder="Confirm Password" />
                </div>
                <button class="btn btn-primary btn-block btn-md shadow-lg mt-4">
                    Sign Up
                </button>
            </form>
            <div class="text-center mt-5 text-md fs-6">
                <p class="text-gray-600">
                    Already have an account?
                    <a href="/Home/Login" class="font-bold">Log in</a>.
                </p>
            </div>
        </div>
    </div>

    
</body>