@model Client.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="~/lib/assets/css/main/app.css" />
    <link rel="stylesheet" href="~/lib/assets/css/pages/auth.css" />
    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.svg"
          type="image/x-icon" />
    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.png"
          type="image/png" />
    <link rel="stylesheet" href="~/lib/assets/extensions/choices.js/public/assets/styles/choices.css">
    <!-- Include CSS file for Bootstrap Datepicker -->
    <!-- Include CSS file for Bootstrap Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Include necessary libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Additional scripts -->
    <script>
        $(document).ready(function () {
            $('#birthdate-input').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });

            $('#hiringdate-input').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>

    <style>
        body,
        html {
            height: 100%;
        }

        body {
            background-color: #cfcfcf;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #auth {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .auth-card {
            min-width: 500px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffff;
        }

        .auth-logo {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .auth-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .auth-subtitle {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-control-icon {
            position: absolute;
            top: 50%;
            margin-left: 5px;
            transform: translateY(-55%);
            color: #ccc;
        }

        .form-group {
            position: relative;
        }

        .form-control {
            padding-left: 40px;
        }

        .btn-block {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="auth">
        <div class="auth-card">
            <div class="auth-logo">
                <a href="index.html">
                    <img src="https://www.metrodataacademy.id/static/media/logo_metrodata_academy.f40277dc.svg"
                         alt="Logo"
                         width="150px" />
                </a>
            </div>
            <h1 class="auth-title">Sign Up</h1>
            <p class="auth-subtitle mb-5">
                Input your data to register to our website.
            </p>

            <form action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group position-relative has-icon-left mb-3" hidden>
                    <div class="form-control-icon" >
                        <i class="bi bi-envelope"></i>
                    </div>
                @*<label asp-for="NIK" class="control-label"></label>*@
                <input asp-for="NIK" class="form-control form-control-md" type="text" placeholder="NIK"/>
                <span asp-validation-for="NIK" class="text-danger"></span>
            </div>

                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                @*<label asp-for="FirstName" class="control-label"></label>*@
                    <input asp-for="FirstName" class="form-control form-control-md" type="text" placeholder="First Name" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                @*<label asp-for="LastName" class="control-label"></label>*@
                    <input asp-for="LastName" class="form-control form-control-md" type="text" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
                <div class="form-group position-relative">
                    
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control form-control-md" placeholder="Birthdate" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>


                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-gender-male-female"></i>
                    </div>
                    <div class="form-check form-check-inline">
                @*<label asp-for="Gender" class="control-label"></label>*@
                        <input asp-for="Gender" class="form-check-input" type="radio" name="gender" id="gender-male" value="L"/>
                        <label class="form-check-label" for="gender-male">
                            Laki-Laki
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="Gender" class="form-check-input" type="radio" name="gender" id="gender-female" value="P">
                        <label class="form-check-label" for="gender-female">
                            Perempuan
                        </label>
                    </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>




                <div class="form-group position-relative">
                    
                <label asp-for="HiringDate" class="control-label"></label>
                    <input asp-for="HiringDate" class="form-control form-control-md" placeholder="Hiring Date" />
                <span asp-validation-for="HiringDate" class="text-danger"></span>
            </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                @*<label asp-for="Email" class="control-label"></label>*@
                    <input asp-for="Email" class="form-control form-control-md" type="email" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-telephone"></i>
                    </div>
                @*<label asp-for="PhoneNumber" class="control-label"></label>*@
                    <input asp-for="PhoneNumber" class="form-control form-control-md" type="text" placeholder="Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReportTo" class="control-label"></label>
                <input asp-for="ReportTo" class="form-control" />
                <span asp-validation-for="ReportTo" class="text-danger"></span>
            </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-person-badge"></i>
                    </div>
                @*<label asp-for="EmployeeLevel_id" class="control-label"></label>*@
                    <input asp-for="EmployeeLevel_id" class="form-control form-control-md" type="text" placeholder="Employee Level ID" />
                    @*<select asp-for="EmployeeLevel_id">
                        @foreach( var item in ViewBag.empLevel)
                        {
                            <option asp-for="EmployeeLevel_id" value="@item.id"> @item.Title </option>
                        }

                    </select>*@
                    <span asp-validation-for="EmployeeLevel_id" class="text-danger"></span>
            </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-building"></i>
                    </div>
                @*<label asp-for="Department_id" class="control-label"></label>*@
                    <input asp-for="Department_id" class="form-control form-control-md" type="text" placeholder="Department ID"/>
                    @*<select asp-for="Department_id">
                        @foreach (var item in ViewBag.deptName)
                        {
                            <option asp-for="Department_id" value="@item.id"> @item.Name </option>
                        }

                    </select>*@
                <span asp-validation-for="Department_id" class="text-danger"></span>
            </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                @*<label asp-for="Password" class="control-label"></label>*@
                    <input asp-for="Password" class="form-control form-control-md" type="password" placeholder="Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                <div class="form-group position-relative has-icon-left mb-3">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                @*<label asp-for="ConfirmPassword" class="control-label"></label>*@
                    <input asp-for="ConfirmPassword" class="form-control form-control-md" type="password" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@
                <button class="btn btn-primary btn-block btn-md shadow-lg mt-4">
                    Sign Up
                </button>
        </form>
            <div class="text-center mt-5 text-md fs-6">
                <p class="text-gray-600">
                    Already have an account?
                    <a href="/Home/Login" class="font-bold">Log in</a>.
                </p>
            </div>
        </div>
    </div>

</body>