@{
    ViewData["Title"] = "Employee";
    Layout = "_SidebarLayout";
}


<div id="main" class="">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6 style="display: inline-block">List Payroll</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-2">
                        <table class="table align-items-center mb-0" id="tblOvertime">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>NIK</th>
                                    <th>Full Name</th>
                                    <th>Pay Date</th>
                                    <th>Tax</th>
                                    <th>Total Salary</th>
                                </tr>
                            </thead>
                            <tbody id="employee" class="align-middle text-center"></tbody>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1234</td>
                                    <td>Vehicula</td>
                                    <td>25/11/2007</td>
                                    <td>50000</td>
                                    <td>5500000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
