@model Client.Models.Employee

@{
    ViewData["Title"] = "Create";
}
<head>
    <style>
        body,
        html {
            height: 100%;
        }

        body {
            background-color: #cfcfcf;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #auth {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .auth-card {
            min-width: 650px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffff;
        }

        .auth-logo {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .auth-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .auth-subtitle {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-control-icon {
            position: absolute;
            top: 50%;
            margin-left: 5px;
            transform: translateY(-55%);
            color: #ccc;
        }

        .form-group {
            position: relative;
        }

        .btn-block {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>


<h1>Create</h1>

<h4>Employee</h4>
<hr />
    <div id="auth " class="">
    <div class="auth-card">
        <div class="auth-logo">
            <a href="index.html">
                <img src="https://www.metrodataacademy.id/static/media/logo_metrodata_academy.f40277dc.svg"
                     alt="Logo"
                     width="150px" />
            </a>
        </div>
        <h1 class="auth-title">Create</h1>
        <p class="auth-subtitle mb-5">
            Input your data to register to our website.
        </p>
        <form action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control form-control-md"
                       placeholder="Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIK" class="control-label"></label>
                <input asp-for="NIK" class="form-control form-control-md"
                       placeholder="NIK" />
                <span asp-validation-for="NIK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiringDate" class="control-label"></label>
                <input asp-for="HiringDate" class="form-control" />
                <span asp-validation-for="HiringDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportTo" class="control-label"></label>
                <input asp-for="ReportTo" class="form-control" />
                <span asp-validation-for="ReportTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeLevel_id" class="control-label"></label>
                <input asp-for="EmployeeLevel_id" class="form-control" />
                <span asp-validation-for="EmployeeLevel_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department_id" class="control-label"></label>
                <input asp-for="Department_id" class="form-control" />
                <span asp-validation-for="Department_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
                <div>
                    <a asp-action="ListEmployee">Back to List</a>
                </div>
        </form>
    </div>
</div>



</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
