@{
	ViewData["Title"] = "Employee";
	Layout = "_SidebarLayout";
}

<div id="main">
	<header class="mb-3 ">
		<a href="#" class="burger-btn d-block d-xl-none">
			<i class="bi bi-justify fs-3"></i>
		</a>
	</header>

	<div class="page-heading">
		<div class="page-title">
			<div class="row">
				<div class="col-12 col-md-6 order-md-1 order-last">
					<h3>Payslip</h3>
					<p class="text-subtitle text-muted">
						Manage Payslip Data
					</p>
				</div>
				<div class="col-12 col-md-6 order-md-2 order-first">
					<nav aria-label="breadcrumb"
						 class="breadcrumb-header float-start float-lg-end">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="index.html">Dashboard</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								Payslip
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<section class="section">
			<div class="card">



				<div class="card-body">
					<table class="table table-striped" id="table1">
						<thead>
							<tr>
								<th>No</th>
								<th>NIK</th>
								<th>Full Name</th>
								<th>Pay Date</th>
								<th>Tax</th>
								<th>Total Salary</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="employee" class="align-middle text-center"></tbody>
						<tbody>
							<tr>
								<td>1</td>
								<td>1234</td>
								<td>Vehicula</td>
								<td>25/11/2007</td>
								<td>50000</td>
								<td>5500000</td>
								<td>
									<button class="badge bg-success">Update</button>
									<button class="badge bg-danger">Delete</button>

								</td>

							</tr>


						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>

	<footer>
		<div class="footer clearfix mb-0 text-muted mt-auto px-4">
			<div class="float-start text-sm">
				<p>2023 &copy;</p>
			</div>
			<div class="float-end text-sm">
				<p>
					Project MCC by
					<span class="text-danger">
						<i class="bi bi-heart-fill icon-mid"></i>
					</span>
					<a href="">Kelompok 4</a>
				</p>
			</div>
		</div>
	</footer>
</div>





