@model Client.Models.Overtime

@{
    ViewData["Title"] = "CreateOvertime";
}

<h1>CreateOvertime</h1>

<h4>Overtime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOvertime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartOvertime" class="control-label"></label>
                <input asp-for="StartOvertime" class="form-control" />
                <span asp-validation-for="StartOvertime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOvertime" class="control-label"></label>
                <input asp-for="EndOvertime" class="form-control" />
                <span asp-validation-for="EndOvertime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmitDate" class="control-label"></label>
                <input asp-for="SubmitDate" class="form-control" />
                <span asp-validation-for="SubmitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control" />
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paid" class="control-label"></label>
                <input asp-for="Paid" class="form-control" />
                <span asp-validation-for="Paid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_id" class="control-label"></label>
                <input asp-for="Employee_id" class="form-control" />
                <span asp-validation-for="Employee_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
