
@{
    ViewData["Title"] = "Profile";
    Layout = "_EmployeeLayout";
}
<div id="main">
    
    <div class="page-heading mt-3">
        <h3>
            User Information
        </h3>
    </div>
    <div class="container  content-center" id="general_nfo">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @*<p class="text-uppercase text-lg">User Information</p>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">First Name</label>
                                    <input class="form-control" type="text" value="First Name Employee" id="FirstName" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Last Name</label>
                                    <input class="form-control" type="text" value="Last Name Employee" id="LastName" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Phone</label>
                                    <input class="form-control" type="text" value="+62 809 987 123 " id="Phone" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Gender</label><br />
                                    <select class="form-control" disabled>
                                        <option class="form-control" value="0">Male</option>
                                        <option class="form-control" value="1">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Salary</label>
                                    <input class="form-control" type="text" value="Rp.5.000.000" id="Salary" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Job Id</label>
                                    <input class="form-control" type="text" value="1" id="JobId" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</>

