<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <!-- Boostrap CSS only -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/coba.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/assets/css/main/app.css" />
    <link rel="stylesheet" href="~/lib/assets/css/pages/auth.css" />
    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.svg"
          type="image/x-icon" />
    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.png"
          type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

</head>
<body>
    <!-- Nav -->
    @*<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
        <div class="container mx-auto">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" asp-area="" asp-controller="Home" asp-action="Index">
                Overtime System
            </a>
        </div>
    </nav>*@

    <!-- Main -->
    <main >
        
        <div class="container">
            @RenderBody()
        </div>
    </main>

    

    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <!-- Core JS File -->
    <script src="~/lib/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/lib/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/lib/js/argon-dashboard.min.js"></script>
    <!-- Include necessary libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.6/dist/sweetalert2.all.min.js"></script>

    <!-- JQuery Validation -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

    <script src="~/lib/assets/extensions/choices.js/public/assets/scripts/choices.js"></script>
    <script src="~/lib/assets/js/pages/form-element-select.js"></script>
    <!-- User Import-->
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
